version: "3.8"

services:
    backend_app:
        build:
            context: .
            dockerfile: Dockerfile
        container_name: backend_cryptoworld
        restart: unless-stopped
        tty: true
        environment:
            - SERVICE_NAME=cryptoworld
            - SERVICE_TAGS=dev
            - DB_HOST=db
        working_dir: /var/www
        volumes:
            - ./:/var/www
            - ./php/local.ini:/usr/local/etc/php/conf.d/local.ini
        networks:
            - internal

    webserver:
        image: nginx:alpine
        container_name: nginx_cryptoworld
        restart: unless-stopped
        tty: true
        volumes:
            - ./:/var/www
            - ./docker/nginx/conf.d/:/etc/nginx/conf.d/
            - /etc/letsencrypt:/etc/letsencrypt:ro
        depends_on:
            - backend_app
        networks:
            - internal
            - proxy

    db:
        image: mysql:8.0
        container_name: db_cryptoworld
        restart: unless-stopped
        tty: true
        environment:
            MYSQL_DATABASE: cryptoworld
            MYSQL_USER: sergiolo
            MYSQL_PASSWORD: a[z7k0oLq2q9
            MYSQL_ROOT_PASSWORD: root
        volumes:
            - dbdata:/var/lib/mysql/
            - ./mysql/my.cnf:/etc/mysql/my.cnf
        networks:
            - internal

networks:
    internal:
        driver: bridge
    proxy:
        external: true

volumes:
    dbdata:
        driver: local
