version: "3.8"

services:
    app:
        build:
            context: .
            dockerfile: Dockerfile
        ports:
            - "80:80"
            - "443:443"
            - "9000:9000"
        environment:
            - DB_HOST=mysql
        volumes:
            - ./storage:/var/www/storage
            - ./docker/nginx/default.conf:/etc/nginx/conf.d/default.conf:ro

            # NUEVOS VOLÚMENES: Mapeo directo de las carpetas de Let's Encrypt del VPS
            # Asegúrese de que estas rutas son correctas en su VPS (host).
            - /etc/letsencrypt/live/api.cryptoworld.cloud:/etc/letsencrypt/live/api.cryptoworld.cloud:ro
            - /etc/letsencrypt/options-ssl-nginx.conf:/etc/letsencrypt/options-ssl-nginx.conf:ro
            - /etc/letsencrypt/ssl-dhparams.pem:/etc/letsencrypt/ssl-dhparams.pem:ro
        depends_on:
            - mysql
        networks:
            - app-network

    mysql:
        image: mysql:8.0
        environment:
            MYSQL_DATABASE: cryptoworld
            MYSQL_USER: sergiolo
            MYSQL_PASSWORD: a[z7k0oLq2q9
            MYSQL_ROOT_PASSWORD: root
        volumes:
            - ./mysql-data:/var/lib/mysql
        networks:
            - app-network

networks:
    app-network:
        driver: bridge
