version: "3.8"

services:
    backend_cryptoworld:
        build:
            context: .
            dockerfile: Dockerfile
        container_name: backend_cryptoworld
        restart: unless-stopped
        working_dir: /var/www
        environment:
            DB_HOST: db
            DB_DATABASE: cryptoworld
            DB_USERNAME: sergiolo
            DB_PASSWORD: a[z7k0oLq2q9
        volumes:
            - ./:/var/www
            - ./php/local.ini:/usr/local/etc/php/conf.d/local.ini
        networks:
            - internal
            - proxy

    nginx_cryptoworld:
        image: nginx:alpine
        container_name: nginx_cryptoworld
        restart: unless-stopped
        volumes:
            - ./:/var/www
            - ./docker/nginx/conf.d:/etc/nginx/conf.d
        depends_on:
            - backend_cryptoworld
        networks:
            - internal
            - proxy

    db:
        image: mysql:8.0
        container_name: db_cryptoworld
        restart: unless-stopped
        environment:
            MYSQL_DATABASE: cryptoworld
            MYSQL_USER: sergiolo
            MYSQL_PASSWORD: a[z7k0oLq2q9
            MYSQL_ROOT_PASSWORD: root
        volumes:
            - dbdata_cryptoworld:/var/lib/mysql
        networks:
            - internal

networks:
    internal:
        driver: bridge
    proxy:
        external: true

volumes:
    dbdata_cryptoworld:
