services:
    backend:
        build: .
        container_name: backend_cryptoworld
        restart: unless-stopped
        working_dir: /var/www
        environment:
            DB_HOST: db
        volumes:
            - ./:/var/www
            - ./php/local.ini:/usr/local/etc/php/conf.d/local.ini
        networks:
            - internal

    webserver:
        image: nginx:alpine
        container_name: nginx_cryptoworld
        restart: unless-stopped
        ports:
            - "127.0.0.1:8080:80"
        volumes:
            - ./:/var/www
            - ./docker/nginx/conf.d:/etc/nginx/conf.d
        depends_on:
            - backend
        networks:
            - internal

    db:
        image: mysql:8.0
        container_name: db_cryptoworld
        restart: unless-stopped
        environment:
            MYSQL_DATABASE: cryptoworld
            MYSQL_USER: sergiolo
            MYSQL_PASSWORD: "a[z7k0oLq2q9"
            MYSQL_ROOT_PASSWORD: root
        volumes:
            - dbdata_cryptoworld:/var/lib/mysql
        networks:
            - internal

networks:
    internal:
        driver: bridge

volumes:
    dbdata:
