version: "3.8"

services:
    app:
        build:
            context: .
            dockerfile: Dockerfile
            args:
                APP_ENV: production
        env_file:
            - .env.production
        ports:
            - "8080:80"
        environment:
            - APP_ENV=production
            - APP_KEY=base64:MkuLNUBNnYeeM8jBATUoysyF6G04iWHk+ahw+2Vxtcs=
            - DB_CONNECTION=mysql
            - DB_HOST=host.docker.internal
            - DB_PORT=3306
            - DB_DATABASE=cryptoworld
            - DB_USERNAME=sergiolo
            - DB_PASSWORD=a[z7k0oLq2q9
            - JWT_SECRET=XNaeohf85h5Ph9n4iIVfzNWjjHDDbKu7ofEjOPMwzVGtzPvjR4MtcauCFaBMmuhc
            - COINRANKING_API_KEY=coinranking22b1d5f1ed17ba55bcd4a9c076747c62d4bca3520a85df31
            - LOG_LEVEL=debug
            - LOG_CHANEL=single
        extra_hosts:
            - "host.docker.internal:172.17.0.1"
        volumes:
            - ./storage:/var/www/storage
        restart: unless-stopped
        networks:
            - app-network

networks:
    app-network:
        driver: bridge
